/*--null-styles-page-------------*/
:root {
  --hover-color: #2196f3;
  --h2-h3-color: #212121;
  --text-color: #757575;
  --icon-logo-color: #afb1b8;
  --bg-color-black: #2f303a;
  --logo-color-black: #000000;
  --white-color: #ffffff;
  --background-button-color: #f5f4fa;
  --adress-a-color: rgba(255, 255, 255, 0.6);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--text-color);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  margin: -1px;
}

.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list-menu:not(:last-child) {
  margin-right: 50px;
  position: relative;
}

.nav-list-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--h2-h3-color);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item-active {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--hover-color);
  text-decoration: none;
}
.nav-list-item-active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  top: 46px;
  left: 0px;
}

.menu-contact {
  margin-left: auto;
}

.contact-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hover a:hover,
.hover a:focus {
  color: var(--hover-color);
  fill: currentColor;
}

.icon-envelope {
  margin-right: 10px;
  fill: currentColor;
}
.icon-envelope:hover, .icon-envelope:focus {
  color: var(--hover-color);
  fill: currentColor;
}

.icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
}
.icon-smartphone:hover, .icon-smartphone:focus {
  color: var(--hover-color);
  fill: currentColor;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color-black);
}

.logo-gen {
  margin-right: 94px;
}

.logo-blue {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--hover-color);
}

.banner {
  width: 1600px;
  margin: auto;
  background: var(--bg-color-black);
  background-image: radial-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
}

.banner h1 {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.banner button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  padding: 10px 32px 10px 32px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background: var(--hover-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.banner button:hover, .banner button:focus {
  background-color: #188ce8;
}

.benefits-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.benefits-header:not(:last-child) {
  padding-right: 30px;
}

.benefit-items {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

.icon-benefit-border {
  background-color: #f5f4fa;
  padding: 25px 100px;
}
.icon-benefit-border:not(:last-child) {
  margin-bottom: 30px;
}

.benefits-main {
  padding: 94px 0;
}
.benefits-main h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--h2-h3-color);
  margin-bottom: 10px;
}
.benefits-main p {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
  word-wrap: break-word;
}

.experience-main {
  padding-top: 0px;
  padding-bottom: 94px;
}
.experience-main h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--h2-h3-color);
  margin-bottom: 50px;
}

.img-experience-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.wrapper-exp {
  position: relative;
}

.description-exp {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0px;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.description-exp h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  color: #ffffff;
  text-transform: uppercase;
}

.our-command-main {
  background-color: #f5f4fa;
  padding: 94px 0;
}
.our-command-main h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--h2-h3-color);
  margin-bottom: 50px;
}
.our-command-main h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--h2-h3-color);
  margin-bottom: 10px;
}
.our-command-main p {
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--text-color);
}

.our-command-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.our-command-persone {
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.persone {
  padding: 30px 32px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: var(--hover-color);
}
.social-link:hover .social-icon, .social-link:focus .social-icon {
  fill: #ffffff;
}

.social-icon {
  fill: var(--icon-logo-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-client-main {
  padding: 94px 0;
}
.our-client-main h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--h2-h3-color);
  margin-bottom: 50px;
}

.our-client-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client-svg {
  fill: var(--icon-logo-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo-step:not(:last-child) {
  margin-right: 30px;
}

.client-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid var(--icon-logo-color);
  border-radius: 4px;
  padding: 16px 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-logo:hover, .client-logo:focus {
  border-color: var(--hover-color);
}
.client-logo:hover .client-svg, .client-logo:focus .client-svg {
  fill: var(--hover-color);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:focus, .modal-close-btn:hover {
  fill: var(--hover-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: 1250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 1250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1), 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 1250ms cubic-bezier(0.4, 0, 0.2, 1), 1250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.contact-form-field {
  display: block;
  margin-bottom: 10px;
}
.contact-form-field:not(:last-child) {
  margin-bottom: 10px;
}
.contact-form-field:nth-child(4) {
  margin-bottom: 20px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  padding-left: 42px;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:focus {
  border-color: var(--hover-color);
  outline: none;
}
.contact-form-input:focus + .form-icon {
  fill: var(--hover-color);
  outline: none;
}

.form-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.contact-form-message {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.contact-form-message:focus {
  border-color: var(--hover-color);
  outline: none;
}
.contact-form-message::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.contact-form-message::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.contact-form-message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.contact-form-message::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.contact-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.title-form-comment,
.title-form-name,
.title-form-phone,
.title-form-email {
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  display: block;
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
}

.checkbox-icon-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  left: 0px;
  bottom: 0px;
  cursor: pointer;
  margin-right: 10px;
  border: 1px solid #212121;
  border-radius: 2px;
  background-color: #ffffff;
}

.checkbox-icon {
  visibility: hidden;
}

.contact-form-checkbox:checked + .contact-form-checkbox-label .checkbox-icon {
  visibility: visible;
  background-color: var(--hover-color);
  border: none;
}

.contact-form-checkbox:checked + .contact-form-checkbox-label .checkbox-icon-border {
  border-color: #2196f3;
}

.contact-form-checkbox:focus + .contact-form-checkbox-label .checkbox-icon-border {
  outline: 1px solid var(--hover-color);
}

.contact-form-checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.contact-form-checkbox-label a {
  color: var(--hover-color);
}

.contact-form-submit-btn {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #188ce8;
  padding: 10px 52px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-submit-btn:focus, .contact-form-submit-btn:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(0%, -100%) scale(0.01);
          transform: translate(0%, -100%) scale(0.01);
  border-radius: 50%;
}

.btn-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio {
  padding: 94px 0;
}
.portfolio button {
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--h2-h3-color);
  background: var(--background-button-color);
  border-radius: 4px;
  padding: 6px 25px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio button:hover, .portfolio button:focus {
  background: var(--hover-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
  outline: none;
}

.project-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.project-items:not(:last-child) {
  margin-bottom: 30px;
  margin-right: 30px;
}

.project-card-animation {
  overflow: hidden;
  position: relative;
}

.project-description {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.85;
  color: var(--text-color);
}

.project-items h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--h2-h3-color);
  margin-bottom: 4px;
}

.overlay-project-card {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  bottom: 0px;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 550ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 550ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 550ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 550ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-items-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 370px;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  position: relative;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-items-card:hover, .project-items-card:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}
.project-items-card:hover .overlay-project-card, .project-items-card:focus .overlay-project-card {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

footer {
  background: var(--bg-color-black);
  padding-top: 60px;
  padding-bottom: 60px;
}
footer a {
  text-decoration: none;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

address p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
  margin-bottom: 9px;
}

address a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  color: var(--adress-a-color);
}

address li:not(:last-child) {
  margin-bottom: 9px;
}

.address-social {
  margin-left: 70px;
}
.address-social p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.logo-footer {
  margin-bottom: 20px;
}

.logo-white {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color);
}

.icon-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.address-social-icon {
  fill: #ffffff;
}

.address-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-social-link:hover, .address-social-link:focus {
  background-color: var(--hover-color);
}

.mailing-wrapper {
  margin-left: auto;
}
.mailing-wrapper p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.mailing-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mailing-form-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  outline: none;
  background-color: var(--bg-color-black);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  padding-right: auto;
  cursor: pointer;
  color: #ffffff;
}
.mailing-form-input:focus {
  border-color: var(--hover-color);
  color: #ffffff;
}
.mailing-form-input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: solid rgba(255, 255, 255, 0.6);
}
.mailing-form-input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: solid rgba(255, 255, 255, 0.6);
}
.mailing-form-input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: solid rgba(255, 255, 255, 0.6);
}
.mailing-form-input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: solid rgba(255, 255, 255, 0.6);
}
.mailing-form-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: solid rgba(255, 255, 255, 0.6);
}

.mailing-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-left: 12px;
  background-color: var(--hover-color);
  padding: 10px 28px 10px 28px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mailing-btn:focus, .mailing-btn:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon-send {
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */